# CDK asset staging directory
.cdk.staging
cdk.out

# Compiled JavaScript files
*.js
*.js.map
*.d.ts

# TypeScript cache
*.tsbuildinfo

# Dependency directories
node_modules/

# IDE
.idea
.vscode
*.swp
*.swo

# Environment files
.env
.env.local

